# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
*.egg

# Virtual environments
venv/
.env/
.venv/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Data / Artifacts
artifacts.pkl
*.pkl
*.model
*.cache/

# Node / frontend
node_modules/
.dist/
.build/
